<div class = "container">

<h1> LET'S EAT! </h1>

<form class = "create-form">
  <div class="form-group" id = "input">
    <label for="eat"></label>
    <input type="input" class="form-control" id="eat" value = "" name = "name" placeholder="What Would You Like To Eat?">

  </div>
    <button id="thing" type="submit" class="btn btn-primary">Submit</button>
</form>




<ul>
    {{#each burgers as |burger|}}
        {{#unless devoured}}
            {{> bblock burger devoured=false}}
        {{/unless}}
    {{/each}}
</ul>

<hr>
<hr>
<hr>
<h2>MMMM SO GOOD!</h2>
<ul>
    {{#each burgers as |burger|}}
        {{#if devoured}}
            {{> bblock burger devoured=true}}
        {{/if}}
    {{/each}}
</ul>


</div>
