<h1> LET'S EAT! </h1>

<form class = "create-form">

    <div class = "form-group">
        <label for = "entry"> What Burger Will You Have?</label><br>
        <input type = "text" id = "entry">
    </div>
    <input type = "submit" value = "submit">

</form>




<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers devoured}}
        {{/unless}}
    {{/each}}
</ul>


<ul>
    {{#each burgers}}
        {{#if devoured}}

        {{/if}}
    {{/each}}
</ul>



